.container {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
    font-style: normal;
}

.italic {
    font-style: italic;
}

textarea {
    resize: none;
    width: 50vh;
    height: 20vh;
    border: none;
    border-radius: 10px;
    background-color: #b3b3b3;
    box-shadow: 0.5px 2px 8px;
}

textarea:hover {
    outline: none;
}
.buttons {
    margin: 10px;

}